<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Graphs for Stock Prices</title>
		<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
	</head>
	<div class=page>
  			<h1>Graphs for Stock Prices</h1>
  			<div class=metanav>

    			<h2>Enter stock ticker below.</h2>

    			<form id='input' method='post' action='index'>	
	  			<p>
					Ticker symbol: <input type='text' name='ticker' />
	  			</p>
	  			<p>
	  				<input type="checkbox" name='s1' value='Open'>Open<br>
					<input type="checkbox" name='s2' value='Adj. Open'>Adjusted Open<br>
	  				<input type="checkbox" name='s3' value='Close'>Close<br>
					<input type="checkbox" name='s4' value='Adj. Close'>Adjusted Close<br>
	  			</p>
	  			<p>
	    			<input type="submit" value="Submit">
	  			</p>  		
				</form>

  			</div>
  			<div align="center">
  			</div>
		</div>
	</body>
</html>